@import url('https://fonts.googleapis.com/css2?family=Adamina&family=DM+Serif+Text&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.nav {
  font-weight: 500;
  width: 20em;
  float: right;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-evenly;
  align-items: baseline;
}

.logo {
  width: 2em;
  margin-right: 0.3em;
}
.logo-name {
  display: inline-flex;
  align-items: flex-end;
  color: #50b9c5;
  cursor: pointer;
}
a {
  color: #202020 !important;
  text-decoration: none !important;
}
.header {
  color: rgb(0, 0, 0);
  padding: 15px 15px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  font-size: 20px;
  padding-right: 0;
}
.active {
  border-bottom: solid #202020;
  padding-bottom: 4px;
}
.hero {
  position: relative;
  width: 30em;
  margin-top: -18em;
  margin-left: 50em;
  background-color: aliceblue;
  border-radius: 10px;
}
.hero-dots {
  width: 18em;
  margin-top: -9em;
  margin-left: 41em;
  border-radius: 10px;
}
.square {
  float: right;
  width: 25em;
  height: 25em;
  background-color: #f6c44d;
}
.home-text {
  font-size: 4em;
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
}
.hero-text {
  position: absolute;
  margin: -14em 59em 0 5em;
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
}

.hero-par {
  margin-top: 1em;
  font-size: 1.3em;
  color: #000000c2;
}
.find-job {
  margin-top: 2em;
  padding: 15px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  background-color: #50b9c5;
  border: solid #50b9c5;
  cursor: pointer;
  font-size: 20px;
}

.post-job {
  padding: 15px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  background-color: #50b9c5;
  border: solid #50b9c5;
  cursor: pointer;
  font-size: 20px;
  margin-left: 2em;
}

.loginn {
  margin-left: 2em;
  margin-right: 2em;
}
.register-page {
  padding-top: 5em;
}
.jobs-page {
  padding-top: 8em;
  background-image: url('/bck.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 2em;
  min-height: 100vh;
}
.job-page {
  padding-top: 8em;
  background-image: url('/bckg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 2em;
  min-height: 100vh;
}
.login-page {
  padding-top: 5em;
}
.about-us {
  margin-right: 2em;
}
.register-card {
  margin-top: 8em;
  margin-left: 10em;
}
.create-account {
  padding: 15px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  background-color: #50b9c5;
  border: solid #50b9c5;
  cursor: pointer;
  font-size: 20px;
}
.register-input {
  border-radius: 7px;
  border-color: #00000029;
  width: 20em;
  margin-bottom: 2em;
  height: 3em;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.square-reg {
  position: relative;
  margin-top: -30em;
  float: right;
  width: 35em;
  height: 25em;
  background-color: #f6c44d;
}
.reg-dots {
  width: 25em;
  margin-top: -20em;
  margin-left: 49em;
  border-radius: 10px;
}
.filter {
  display: flex;
  height: 5em;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
}
.card-header {
  font-size: 1.5em;
  text-align: center;
  padding: 1rem 1rem;
  margin-bottom: 0;
  background-color: transparent !important;
  border-bottom: none !important;
}
#location {
  margin-right: 0.4em;
  margin-top: 0.3em;
  width: 0.8em;
  height: 1em;
}
.card-det {
  display: flex;
  justify-content: space-between;
}
.card-title {
  font-size: 1.1em;
}
#exp-icon {
  margin-top: 0.3em;
  width: 0.8em;
  height: 1em;
  margin-right: 0.3em;
}

.see-job {
  padding: 0.3em;
  border-radius: 7px;
  color: rgb(255, 255, 255) !important;
  background-color: #50b9c5;
  border: solid #50b9c5;
  cursor: pointer;
  font-size: 20px;
}
.delete-job {
  padding: 0.3em;
  border-radius: 7px;
  color: rgb(255, 255, 255) !important;
  background-color: #f6c44d;
  border: solid #f6c44d;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
}

.job-board {
  text-align: center;
  margin-bottom: 1em;
}

.card {
  border: none !important;
  background-color: rgb(255, 255, 255) !important;
  margin-top: 1em;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 8px 0px;
  position: revert !important;
}
.row {
  margin: 0 auto !important;
  justify-content: space-around;
}
select {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  word-wrap: normal;
}
.Region {
  width: 4.5em;
  font-size: 1.2em;
}
.Experience {
  font-size: 1.2em;
}

.Region > option {
  color: rgb(36, 42, 56);
}
.Experience > option {
  color: rgb(36, 42, 56);
}
.square-jobs {
  position: fixed;
  float: right;
  width: 55em;
  height: 35em;
  background-color: #f6c44d2b;
  margin-top: 10em;
}
.quill {
  margin-top: 1em;
}
.col-sm-5 {
  width: 35% !important;
}
.row {
  position: relative;
}
.job-page {
  padding-top: 5em;
  padding-bottom: 2em;
}
.register {
  color: #00bcd4 !important;
  text-decoration: underline !important;
}
.all-jobs-text {
  padding: 25px;
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
}
.log-in-text {
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
  margin-bottom: 1em;
}
.reg-text {
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
  margin-bottom: 1em;
}
.btn-primary {
  color: #fff;
  background-color: #50b9c5 !important;
  border-color: #50b9c5 !important;
}
.modal-title {
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
  height: 10em;
}
.close {
  background-color: #f6c44d;
  border: none;
  color: white;
}
.select-date {
  height: 50%;
  width: 13em !important;
}
.clear-filters {
  background-color: #f6c44d;
  color: white;
  border: #f6c44d;
  border-radius: 3px;
}
.calendar-modal {
  margin-top: 1em;
}
.container-sm {
  padding: 1em 10em 1em 10em !important;
}
.post-bttn {
  text-shadow: 0 0 0 white !important;
  color: transparent !important;
  background-color: #f6c44d !important;
  border-color: #f6c44d !important;
  margin-left: 16.6em;
}
.post-bttn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.my-posts {
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
}
.logout-text {
  width: fit-content;
  padding-top: 8em;
  margin-left: 2em;
  font-family: 'Adamina', serif;
  font-family: 'DM Serif Text', serif;
}
